<div class="main_jumbo">
	<div class="container">
		<div class="row" style="margin-top: 50px;">
			<div class="col-md-10 col-md-offset-1">
				<h1 class="cabin" style="color: #000;">Your guide to brands on Snapchat.</h1>
				<h3 class="cabin" style="color: #FFF59D;">Don't let your chance to interact with fans on Snapchat <i>disappear</i>. See what other brands and marketers are doing.</h3>
				<!--<div id="the-basics">
		      <%= form_tag brands_path, :method => 'get' do %>
		        <p>
		          <%= text_field_tag :search, params[:search], :placeholder => "Explore by brand name", :class => "form-control typeahead" %>
		          <div style="position: absolute; top: -9999px;"><%= submit_tag "Search", :name => nil, :class => "btn btn-default btn-xs"  %></div>
		        </p>
		      <% end %>
		    </div>
		    <div>
		    	<select onchange="location = this.options[this.selectedIndex].value;" class="form-control">
					  <option value="" disabled selected>or seek by popular categories</option>
					  <option value="/brands?industry=Sports">Sports</option>
					  <option value="/brands?industry=Fashion">Fashion</option>
					  <option value="/brands?industry=Restaurant">Restaurant</option>
					  <option value="/brands?industry=Food and Beverage">Food and Beverage</option>
					  <option value="/brands?industry=Music">Music</option>
					  <option value="/brands?industry=Entertainment">Entertainment</option>
					  <option value="/brands?industry=Media">Media</option>
					</select>
		    </div>-->
		  </div>
		</div>
	</div>
</div>
<br /><br />
<div class="container">
	<div class="row">
		<div class="col-md-7 front_tables" style="background-color: #FFF;">
			<h3>Top News Picks</h3>
			<table class="table table-striped">
		    <tbody>
					<% @news.each do |news| %>
				    <tr>
				      <td><%= news.date.strftime("%b. %e") %></td>
				      <td>
				      	<%= link_to news.title, news, :class => "link-grey" %>
				      	<br />
				      	<small style="color: #9e9e9e;"><%= news.author %> // <%= news.source %></small>
				      </td>
				    </tr>
				  <% end %>
				</tbody>
			</table>
		</div>
		<div class="col-md-4 col-md-offset-1">
			<div class="row">
				<div class="col-md-12 front_tables" style="background-color: #FFF;">
					<h3>Trending Brands</h3>
					<small><i>Change in Activity from prior week as of Feb 23 (updated weekly)</i></small>
					<table class="table table-striped" width="100%">
				    <tbody>
							<!-- UP -->
							<tr><td><table><tr>
										<% if Brand.exists?(7) %>
											<td style="white-space: nowrap;">
												<%= link_to image_tag(@brands[6].image.url(:thumb), :size => "20x20", :class => "img-rounded"), @brands[6] %>
											</td>
											<td style="white-space: nowrap; padding-left: 5px;">
												<%= link_to @brands[6].name, @brands[6], :class => "link-grey" %>
											</td>
											<td style="text-align: right;" width="99%">
												<span class="fa fa-arrow-up" style="color: #4DB6AC"></span>6
											</td>
										<% end %>
							</tr></table></td></tr>
							<tr><td><table><tr>
										<% if Brand.exists?(7) %>
											<td style="white-space: nowrap;">
												<%= link_to image_tag(@brands[67].image.url(:thumb), :size => "20x20", :class => "img-rounded"), @brands[67] %>
											</td>
											<td style="white-space: nowrap; padding-left: 5px;">
												<%= link_to @brands[67].name, @brands[67], :class => "link-grey" %>
											</td>
											<td style="text-align: right;" width="99%">
												<span class="fa fa-arrow-up" style="color: #4DB6AC"></span>5
											</td>
										<% end %>
							</tr></table></td></tr>
							<tr><td><table><tr>
										<% if Brand.exists?(7) %>
											<td style="white-space: nowrap;">
												<%= link_to image_tag(@brands[16].image.url(:thumb), :size => "20x20", :class => "img-rounded"), @brands[16] %>
											</td>
											<td style="white-space: nowrap; padding-left: 5px;">
												<%= link_to @brands[16].name, @brands[16], :class => "link-grey" %>
											</td>
											<td style="text-align: right;" width="99%">
												<span class="fa fa-arrow-up" style="color: #4DB6AC"></span>4
											</td>
										<% end %>
							</tr></table></td></tr>
							<!-- DOWN -->
							<tr><td><table><tr>
										<% if Brand.exists?(7) %>
											<td style="white-space: nowrap;">
												<%= link_to image_tag(@brands[21].image.url(:thumb), :size => "20x20", :class => "img-rounded"), @brands[21] %>
											</td>
											<td style="white-space: nowrap; padding-left: 5px;">
												<%= link_to @brands[21].name, @brands[21], :class => "link-grey" %>
											</td>
											<td style="text-align: right;" width="99%">
												<span class="fa fa-arrow-down" style="color: #ed4c89"></span>4
											</td>
										<% end %>
							</tr></table></td></tr>
							<tr><td><table><tr>
										<% if Brand.exists?(7) %>
											<td style="white-space: nowrap;">
												<%= link_to image_tag(@brands[38].image.url(:thumb), :size => "20x20", :class => "img-rounded"), @brands[38] %>
											</td>
											<td style="white-space: nowrap; padding-left: 5px;">
												<%= link_to @brands[38].name, @brands[38], :class => "link-grey" %>
											</td>
											<td style="text-align: right;" width="99%">
												<span class="fa fa-arrow-down" style="color: #ed4c89"></span>4
											</td>
										<% end %>
							</tr></table></td></tr>
							<tr><td><table><tr>
											<% if Brand.exists?(7) %>
												<td style="white-space: nowrap;">
													<%= link_to image_tag(@brands[82].image.url(:thumb), :size => "20x20", :class => "img-rounded"), @brands[82] %>
												</td>
												<td style="white-space: nowrap; padding-left: 5px;">
													<%= link_to @brands[82].name, @brands[82], :class => "link-grey" %>
												</td>
												<td style="text-align: right;" width="99%">
													<span class="fa fa-arrow-down" style="color: #ed4c89"></span>4
												</td>
											<% end %>
							</tr></table></td></tr>
						</tbody>
					</table>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-md-12" style="background-color: #FFF;">
					<h3>Recently Added</h3>
						<table class="table table-striped" width="100%">
					    <tbody>
								<% @recent.each do |recent| %>
									<tr><td><table><tr>
										<td style="white-space: nowrap;">
											<%= link_to image_tag(recent.image.url(:thumb), :size => "20x20", :class => "img-rounded"), recent %>
										</td>
										<td style="white-space: nowrap; padding-left: 5px;">
											<%= link_to recent.name, recent, :class => "link-grey" %>
										</td>
										<td style="text-align: right;" width="99%">
											<%= recent.created_at.strftime("%b. %e") %>
										</td>
									</tr></table></td></tr>
								<% end %>
							</tbody>
						</table>
				</div>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag "matcher" %>
