<div class="main_jumbo">
	<div class="container">
		<div class="row" style="margin-top: 50px;">
			<div class="col-md-10 col-md-offset-1">
				<h1 class="cabin" style="color: #000;">Your guide to brands on Snapchat.</h1>
				<h3 class="cabin" style="color: #FFF59D;">Don't let your chance to market on Snapchat <i>disappear</i>. See what other brands and marketers are doing.</h3>
				<!--<div id="the-basics">
		      <%= form_tag brands_path, :method => 'get' do %>
		        <p>
		          <%= text_field_tag :search, params[:search], :placeholder => "Explore by brand name", :class => "form-control typeahead" %>
		          <div style="position: absolute; top: -9999px;"><%= submit_tag "Search", :name => nil, :class => "btn btn-default btn-xs"  %></div>
		        </p>
		      <% end %>
		    </div>
		    <div>
		    	<select onchange="location = this.options[this.selectedIndex].value;" class="form-control">
					  <option value="" disabled selected>or seek by popular categories</option>
					  <option value="/brands?industry=Sports">Sports</option>
					  <option value="/brands?industry=Fashion">Fashion</option>
					  <option value="/brands?industry=Restaurant">Restaurant</option>
					  <option value="/brands?industry=Food and Beverage">Food and Beverage</option>
					  <option value="/brands?industry=Music">Music</option>
					  <option value="/brands?industry=Entertainment">Entertainment</option>
					  <option value="/brands?industry=Media">Media</option>
					</select>
		    </div>-->
		  </div>
		</div>
	</div>
</div>
<br /><br />
<div class="container">
	<div class="row">
		<div class="col-md-7 recent_news" style="background-color: #FFF;">
			<h3>Recent News</h3>
			<table class="table table-striped">
		    <tbody>
					<% @news.each do |news| %>
				    <tr>
				      <td><%= news.date.strftime("%b. %e") %></td>
				      <td>
				      	<%= link_to news.title, news, :class => "link-grey" %>
				      	<br />
				      	<small><%= news.author %> // <%= news.source %></small>
				      </td>
				    </tr>
				  <% end %>
				</tbody>
			</table>
		</div>
		<div class="col-md-4 col-md-offset-1" style="background-color: #FFF;">
			<h3>Trending Brands</h3>
			To Come
		</div>
	</div>
</div>

<%= javascript_include_tag "matcher" %>
