<div class="main_jumbo">
	<div class="container">
		<div class="row" style="margin-top: 150px;">
			<div class="col-md-8 col-md-offset-2">
				<div id="the-basics">
		      <%= form_tag brands_path, :method => 'get' do %>
		        <p>
		          <%= text_field_tag :search, params[:search], :placeholder => "Explore by brand name", :class => "form-control typeahead" %>
		          <div style="position: absolute; top: -9999px;"><%= submit_tag "Search", :name => nil, :class => "btn btn-default btn-xs"  %></div>
		        </p>
		      <% end %>
		    </div>
		    <div style="line-height: 2.0;">
			    <%= link_to "brands?industry=Auto", :class => "link-categories" do %>
						<i class="fa fa-automobile"></i>
						Auto
					<% end %>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <%= link_to "brands?industry=Fashion", :class => "link-categories" do %>
						<i class="fa fa-eye"></i>
						Fashion
					<% end %>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <%= link_to "brands?industry=Food and Beverage", :class => "link-categories" do %>
						<i class="fa fa-beer"></i>
						Food and Beverage
					<% end %>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <%= link_to "brands?industry=Gaming", :class => "link-categories" do %>
						<i class="fa fa-gamepad"></i>
						Gaming
					<% end %>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <%= link_to "brands?industry=Media", :class => "link-categories" do %>
						<i class="fa fa-newspaper-o"></i>
						Media
					<% end %>
			    <br/>
			    <%= link_to "brands?industry=Music", :class => "link-categories" do %>
						<i class="fa fa-music"></i>
						Music
					<% end %>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<%= link_to "brands?industry=Restaurant", :class => "link-categories" do %>
						<i class="fa fa-cutlery"></i>
						Restaurant
					<% end %>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <%= link_to "brands?industry=Sports", :class => "link-categories" do %>
						<i class="fa fa-soccer-ball-o"></i>
						Sports
					<% end %>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <%= link_to "brands?industry=Television", :class => "link-categories" do %>
						<i class="fa fa-laptop"></i>
						Television
					<% end %>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			    <%= link_to "brands?industry=Other", :class => "link-categories" do %>
						<i class="fa fa-asterisk"></i>
						Other
					<% end %>
				</div>
		  </div>
		</div>
	</div>
</div>
<div class="container">
	<h1>Welcome to my app!</h1>
	<p>Sign up here</p>
</div>

<%= javascript_include_tag "matcher" %>
