<%= stylesheet_link_tag "sortable-theme-bootstrap" %>
<% if user_signed_in? %>
  <div class="add_button">
    <%= link_to new_brand_path do %>
      <i class="fa fa-plus-circle fa-2x link-grey"></i>
    <% end %>
  </div>
<% end %>

<div class="brands_jumbo" style="margin-bottom: 30px;">
  <div class="container">
    <h1>LET'S DISCOVER</h1>
  </div>
</div>
<div class="container">
  <div style="background-color: #fff;">
    <div id="the-basics">
      <%= form_tag brands_path, :method => 'get' do %>
        <p>
          <%= text_field_tag(:search, params[:search], :placeholder => "Explore by brand name", :class => "form-control typeahead") %>
          <div style="position: absolute; top: -9999px;"><%= submit_tag "Search", :name => nil, :class => "btn btn-default btn-xs"  %></div>
        </p>
      <% end %>
    </div>
    <div style="margin-left: 15px;">
      <div class="dropdown">
        <button class="btn-filter btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          Industry
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/brands">All</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="?industry=Auto">Auto</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="?industry=Fashion">Fashion</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="?industry=Food and Beverage">Food and Beverage</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="?industry=Gaming">Gaming</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="?industry=Media">Media</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="?industry=Music">Music</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="?industry=Restaurant">Restaurant</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="?industry=Sports">Sports</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="?industry=Television">Television</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="?industry=Other">Other</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <div style="background-color: #fff;">
    <div class="table-responsive">
      <table class="table table-hover table-condensed sortable-theme-bootstrap" id="brand-table" data-sortable>
        <thead>
          <tr>
            <th style="text-align: left;">Company</th>
            <th>Username</th>
            <th>Momentum</th>
            <th>Industry</th>
            <th data-sortable="false">Web Presence</th>
          </tr>
        </thead>
        <tbody>
          <% @brands.each do |brand| %>
            <tr>
              <td>
                <div class="row">
                  <div class="col-md-2">
                    <%= link_to image_tag(brand.image.url(:thumb), :size => "40x40", :class => "img-rounded"), brand %>
                  </div>
                  <div class="col-md-10" style="text-align: left;">
                    <h5><%= link_to brand.name, brand,  :class => "link-grey" %></h5>
                  </div>
                </div>
              </td>
              <td><%= brand.username %></td>
              <td><%= brand.momentum %></td>
              <td><%= brand.industry %></td>
              <td>
                <% if brand.website.present? %>
                  <%= link_to "http://#{brand.website}" do %>
                    <i class="fa fa-link fa-lg fa-fw link-grey"></i>
                  <% end %>
                <% end %>
                <% if brand.facebook.present? %>
                  <%= link_to "http://#{brand.facebook}" do %>
                    <i class="fa fa-facebook fa-lg fa-fw link-grey"></i>
                  <% end %>
                <% end %>
                <% if brand.twitter.present? %>
                  <%= link_to "http://#{brand.twitter}" do %>
                    <i class="fa fa-twitter fa-lg fa-fw link-grey"></i>
                  <% end %>
                <% end %>
                <% if brand.instagram.present? %>
                  <%= link_to "http://#{brand.instagram}" do %>
                    <i class="fa fa-instagram fa-lg fa-fw link-grey"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= javascript_include_tag "matcher" %>
<%= javascript_include_tag "sortable" %>