<%= stylesheet_link_tag "sortable-theme-bootstrap" %>

<div class="container">
  <%= link_to 'New Brand', new_brand_path %>
  <br /><br />
  <div style="background-color: #fff;">
    <div id="the-basics">
      <%= form_tag brands_path, :method => 'get' do %>
        <p>
          <%= text_field_tag(:search, params[:search], :placeholder => "Explore by brand name", :class => "form-control typeahead") %>
          <div style="position: absolute; top: -9999px;"><%= submit_tag "Search", :name => nil, :class => "btn btn-default btn-xs"  %></div>
        </p>
      <% end %>
    </div>
    <div style="margin-left: 15px;">
      <div class="dropdown">
        <button class="btn-filter btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
          Industry
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/brands">All</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="?industry=Clothing">Clothing</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="?industry=Restaurants">Restaurants</a></li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <div style="background-color: #fff;">
    <div class="table-responsive">
      <table class="table table-hover table-condensed sortable-theme-bootstrap" id="brand-table" data-sortable>
        <thead>
          <tr>
            <th style="text-align: left;">Company</th>
            <th>Username</th>
            <th>Momentum<br />Score</th>
            <th>Industry</th>
            <th data-sortable="false">Social Media<br />Presence</th>
            <th>Website</th>
          </tr>
        </thead>
        <tbody>
          <% @brands.each do |brand| %>
            <tr>
              <td>
                <div class="row">
                  <div class="col-md-2">
                    <%= link_to image_tag(brand.image.url(:thumb), :size => "40x40", :class => "img-rounded"), brand %>
                  </div>
                  <div class="col-md-10" style="text-align: left;">
                    <h4><%= link_to brand.name, brand,  :class => "link-grey" %></h4>
                  </div>
                </div>
              </td>
              <td><%= brand.username %></td>
              <td><%= brand.momentum %></td>
              <td><%= brand.industry %></td>
              <td>
                <% if brand.facebook.present? %>
                  <%= link_to "http://#{brand.facebook}" do %>
                    <i class="fa fa-facebook fa-lg fa-fw link-grey"></i>
                  <% end %>
                <% end %>
                <% if brand.twitter.present? %>
                  <%= link_to "http://#{brand.twitter}" do %>
                    <i class="fa fa-twitter fa-lg fa-fw link-grey"></i>
                  <% end %>
                <% end %>
                <% if brand.instagram.present? %>
                  <%= link_to "http://#{brand.instagram}" do %>
                    <i class="fa fa-instagram fa-lg fa-fw link-grey"></i>
                  <% end %>
                <% end %>
              </td>
              <td><%= link_to brand.website, "http://#{brand.website}", :class => "link-grey" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= javascript_include_tag "matcher" %>
<%= javascript_include_tag "sortable" %>

