<div class="navbar navbar-default" style="z-index: 10;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to " Snap Sherpa", root_path, :class => "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right header_link collapse-bg">
        <li><%= link_to "BRANDS", brands_path %></li>
        <li><%= link_to "CHARTS", charts_path %></li>
        <% if user_signed_in? %>
          <!--<li><%= link_to "Account Settings", edit_user_registration_path %></li>-->
          <li><%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %></li>
        <% end %>
      </ul>      

        <div class="form-group" id="the-basics">
          <%= form_tag brands_path, :method => 'get' do %>
            <div class="input-group" style="border-left: 1px solid #BDBDBD; margin-top: 1px;">
              <span class="input-group-addon search-input" style="padding-right: 5px; color: #BDBDBD;"><i class="fa fa-search"></i></span>
              <%= text_field_tag :search, params[:search], :placeholder => "Explore by brand name", :class => "form-control input-lg typeahead search-input", :style => "padding-left: 0px;" %>
            </div>
            <div style="position: absolute; top: -9999px;"><%= submit_tag "Search", :name => nil, :class => "btn btn-default btn-xs"  %></div>
          <% end %>
        </div>
    </div><!-- /.navbar-collapse -->
  </div>
</div>