<!DOCTYPE html>
<html>
	<head>
	  <title>Snap Sherpa</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <%= favicon_link_tag 'favicon.ico' %>
	  <link href='//fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="wrapper">
			<%= render 'layouts/header' %>
			<div class="container"><% flash.each do |name, msg| %>
     		<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
			<% end %></div>
			<%= yield %>
			<div class="push"></div>
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>
